@keyframes stretch {
  from {
    transform: translateX(-8rem);
  }
  to {
    transform: translateX(-2rem);
  }
}

.stretch {
  animation: stretch 0.3s forwards;
}

@keyframes unstretch {
  from {
    transform: translateX(-2rem);
  }
  to {
    transform: translateX(-8rem);
  }
}

.unstretch {
  animation: unstretch 0.3s forwards;
}
